<h2>Car Data</h2>
<hr />
<form [formGroup]="CarForm">
  <div class="form-row">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="CarForm.get('name').hasError('required')"
        >Name is required</mat-error
      >
      <mat-error *ngIf="CarForm.get('name').hasError('maxlength')"
        >Max Characters is 100</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Model</mat-label>
      <input matInput formControlName="model" />
      <mat-error *ngIf="CarForm.get('model').hasError('required')"
        >Model is required</mat-error
      >
      <mat-error *ngIf="CarForm.get('model').hasError('maxlength')"
        >Max Characters is 100</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Brand</mat-label>
      <input matInput formControlName="brand" />
      <mat-error *ngIf="CarForm.get('brand').hasError('required')"
        >Brand is required</mat-error
      >
      <mat-error *ngIf="CarForm.get('brand').hasError('maxlength')"
        >Max Characters is 100</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Color</mat-label>
      <input matInput formControlName="color" />
      <mat-error *ngIf="CarForm.get('color').hasError('required')"
        >Color is required</mat-error
      >
      <mat-error *ngIf="CarForm.get('color').hasError('maxlength')"
        >Max Characters is 100</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Year Of Release</mat-label>
      <input type="number" matInput formControlName="yearOfRelease" />
      <mat-error *ngIf="CarForm.get('yearOfRelease').hasError('required')"
        >yearOfRelease is required</mat-error
      >
      <mat-error *ngIf="CarForm.get('yearOfRelease').hasError('yearMin')"
        >Year of Release must be greater than 2000</mat-error
      >
    </mat-form-field>
  </div>
</form>

<br />
<button
  mat-raised-button
  color="warn"
  *ngIf="carId != '0'"
  (click)="onFormUpdate()"
>
  Update
</button>
<button (click)="onSave()" mat-raised-button color="warn" *ngIf="carId === '0'">
  Save
</button>

<button
  style="margin-left:16px"
  mat-raised-button
  color="Accent"
  *ngIf="carId != '0'"
  (click)="deleteFun()"
>
  Delete
</button>
