@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.tdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150vh;
}

.pbtn {
  margin-left: 20px;
  display: flex;
}

table td {
  width: 29vh;
}

.atagtable {
  color: brown;
  text-decoration: none;
}

.ng-container th {
  color: red;
}

@media only screen and (max-width: 767px) {
  .tdiv {
    flex-direction: column;
    align-items: flex-start;
    width: vh;
  }

  .pbtn {
    margin-left: 0;
  }
  table td {
    width: 9vh;
  }
}
