@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.tdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110vh;
}

.pbtn {
  margin-left: 20px;
  display: flex;
}

table {
  width: 100%;
  margin-top: 10px;
  max-height: 420px;
  overflow: auto;
  display: block;
}

.atagtable {
  color: brown;
  text-decoration: none;
}

.ng-container th {
  color: red;
}

@media only screen and (max-width: 767px) {
  .tdiv {
    flex-direction: column;
    align-items: flex-start;
    width: 50vh;
  }
  .table {
    width: 15%;
  }

  .pbtn {
    margin-left: 0;
  }
}
